In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-storm-4/Data-dictionary.xlsx
/kaggle/input/data-storm-4/DataStorm4.0_KaggleProblemStatement.pdf
/kaggle/input/data-storm-4/Store-info.csv
/kaggle/input/data-storm-4/Testing-data.csv
/kaggle/input/data-storm-4/Historical-transaction-data.csv

In [2]:
trans_df = pd.read_csv("/kaggle/input/data-storm-4/Historical-transaction-data.csv",parse_dates=['transaction_date'])
trans_df["transaction_week"]=trans_df["transaction_date"].dt.week
trans_df["transaction_date"]=trans_df["transaction_date"].dt.date
trans_df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,transaction_week
0,ORANGE BARLEY 1.5L,2021-12-11,147.0,BGXA,SHOP008,220,2,49
1,GINGER BEER 1.5L,2021-10-17,371.0,IA25,SHOP112,220,2,41
2,TONIC PET 500ML,2021-12-13,484.0,VN7V,SHOP008,160,2,50
3,CREAM SODA 1L,2021-12-13,484.0,VN7V,SHOP008,150,2,50
4,STRAWBERRY MILK 180ML,2021-10-23,1310.0,7S00,SHOP112,210,5,42
...,...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09,NaN,X21A,SHOP056,440,3,49
473970,LEMONADE 1.5L,2021-12-02,NaN,LV2L,SHOP018,220,2,48
473971,FIT O ORANGE 200ML,2021-11-19,NaN,VC4O,SHOP077,210,4,46
473972,CREAM SODA 1.5L,2021-12-03,NaN,MSBQ,SHOP077,440,3,48
473973,CREAM SODA APPLE POP 1L,2021-12-03,NaN,MSBQ,SHOP077,150,1,48

In [3]:
trans_df["customer_id"].value_counts()

RX33    95
05QX    90
46C7    81
Z7JA    74
L82A    62
        ..
6J0A     1
DK08     1
YHEI     1
MGTK     1
SJJW     1
Name: customer_id, Length: 191636, dtype: int64

In [4]:
trans_df["transaction_date"].value_counts()

2021-12-11    15125
2021-12-12    12950
2021-11-27    12078
2021-12-10    11693
2021-12-04    11617
              ...
2021-11-16     4642
2021-11-24     4468
2021-11-09     4404
2021-11-15     4215
2021-11-08     3943
Name: transaction_date, Length: 62, dtype: int64

In [5]:
trans_df["transaction_week"].value_counts()

49    71453
48    64135
42    61735
47    53028
43    47340
46    43596
44    40782
45    39633
41    28187
50    24085
Name: transaction_week, dtype: int64

In [6]:
trans_df["shop_id"].value_counts()

SHOP043    6631
SHOP011    6359
SHOP082    6048
SHOP111    6027
SHOP086    6016
           ...
SHOP001    2020
SHOP107    1962
SHOP125    1866
SHOP047    1692
SHOP008     272
Name: shop_id, Length: 124, dtype: int64

In [7]:
trans_df["item_description"].value_counts()

GINGER BEER 1.5L                59864
CREAM SODA 1.5L                 39608
CREAM SODA 500ML                34320
GINGER BEER 1L                  26808
ORANGE BARLEY 1.5L              23180
NECTO 1.5L                      21746
SODA 500ML                      16802
BOTTLED DRINKING WATER 500ML    15786
SODA PET 1.5L                   15652
FIT O ORANGE 1L                 15392
LEMONADE 1.5L                   13433
SODA 1L                         13151
TONIC PET 500ML                 12704
GINGER BEER 500ML               11939
CREAM SODA APPLE POP 1L         11736
FIT O ORANGE 200ML               9490
BOTTLED DRINKING WATER 1.5L      9194
ORANGE CRUSH 1.5L                8288
FIT O MIXED FRUIT 200ML          7618
FIT O MIXED FRUIT 1L             7124
FIT O MANGO 1L                   6664
LEMONADE 500ML                   6453
FIT O MANGO 200ML                6333
GINGER BEER SUGAR FREE 500ML     5980
DRY GINGER ALE PET 500ML         5894
STRAWBERRY MILK 180ML            5530
ORANGE CRUSH 500ML               4714
TWISTEE APPLE 1L                 3930
NECTO 500ML                      3811
CREAM SODA 1L                    3668
GINGER BEER 400ML                3250
KIK COLA 1L                      2412
LEMONADE 1L                      2222
ORANGE CRUSH 1L                  1635
NECTO 1L                         1595
LIME CRUSH JUICE 1L                80
CHOCOLATE MILK 180ML               40
Name: item_description, dtype: int64

In [8]:
trans_df

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,transaction_week
0,ORANGE BARLEY 1.5L,2021-12-11,147.0,BGXA,SHOP008,220,2,49
1,GINGER BEER 1.5L,2021-10-17,371.0,IA25,SHOP112,220,2,41
2,TONIC PET 500ML,2021-12-13,484.0,VN7V,SHOP008,160,2,50
3,CREAM SODA 1L,2021-12-13,484.0,VN7V,SHOP008,150,2,50
4,STRAWBERRY MILK 180ML,2021-10-23,1310.0,7S00,SHOP112,210,5,42
...,...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09,NaN,X21A,SHOP056,440,3,49
473970,LEMONADE 1.5L,2021-12-02,NaN,LV2L,SHOP018,220,2,48
473971,FIT O ORANGE 200ML,2021-11-19,NaN,VC4O,SHOP077,210,4,46
473972,CREAM SODA 1.5L,2021-12-03,NaN,MSBQ,SHOP077,440,3,48
473973,CREAM SODA APPLE POP 1L,2021-12-03,NaN,MSBQ,SHOP077,150,1,48

In [9]:
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473974 entries, 0 to 473973
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   item_description  438046 non-null  object
 1   transaction_date  473974 non-null  object
 2   invoice_id        467654 non-null  float64
 3   customer_id       473974 non-null  object
 4   shop_id           473974 non-null  object
 5   item_price        473974 non-null  int64
 6   quantity_sold     473974 non-null  int64
 7   transaction_week  473974 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 28.9+ MB

In [10]:
daily_df = trans_df.drop(["item_description","invoice_id","customer_id"],axis = 1).dropna()
daily_df["income"] = daily_df["item_price"]*daily_df["quantity_sold"]
daily_df = daily_df.drop("item_price",axis = 1)
daily_df

       transaction_date  shop_id  quantity_sold  transaction_week  income
0            2021-12-11  SHOP008              2                49     440
1            2021-10-17  SHOP112              2                41     440
2            2021-12-13  SHOP008              2                50     320
3            2021-12-13  SHOP008              2                50     300
4            2021-10-23  SHOP112              5                42    1050
...                 ...      ...            ...               ...     ...
473969       2021-12-09  SHOP056              3                49    1320
473970       2021-12-02  SHOP018              2                48     440
473971       2021-11-19  SHOP077              4                46     840
473972       2021-12-03  SHOP077              3                48    1320
473973       2021-12-03  SHOP077              1                48     150

[473974 rows x 5 columns]

In [11]:
dates = daily_df.transaction_date.unique()
dates.sort()
weeks = daily_df.transaction_week.unique()
weeks.sort()

In [12]:
store_df = pd.read_csv("/kaggle/input/data-storm-4/Store-info.csv")
store_df_weekly = store_df.copy() 
store_df_weekly

     shop_id  shop_area_sq_ft shop_profile
0    SHOP047              528     Moderate
1    SHOP009              676         High
2    SHOP083              676          Low
3    SHOP117              676          Low
4    SHOP042              676          Low
..       ...              ...          ...
119  SHOP087              527          NaN
120  SHOP050              411          NaN
121  SHOP061              699          NaN
122  SHOP056              597          NaN
123  SHOP070              676          NaN

[124 rows x 3 columns]

In [13]:
for date in dates:
    day_df = daily_df.loc[daily_df["transaction_date"]==date]
    store_df[str(date)]=''
    store_df[str(date)+"S"]=''
    for shop in store_df["shop_id"]:
        shop_df = day_df.loc[day_df["shop_id"]==shop]
        day_income = shop_df.income.sum()
        day_sales = shop_df.quantity_sold	.sum()
        store_df[str(date)][store_df.index[store_df["shop_id"]==shop]] = day_income
        store_df[str(date)+"S"][store_df.index[store_df["shop_id"]==shop]] = day_sales
store_df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  after removing the cwd from sys.path.

,shop_id,shop_area_sq_ft,shop_profile,2021-10-15,2021-10-15S,2021-10-16,2021-10-16S,2021-10-17,2021-10-17S,2021-10-18,...,2021-12-11,2021-12-11S,2021-12-12,2021-12-12S,2021-12-13,2021-12-13S,2021-12-14,2021-12-14S,2021-12-15,2021-12-15S
0,SHOP047,528,Moderate,18265,56,7475,39,15630,74,15865,...,22455,91,13800,61,21520,51,7600,38,6070,30
1,SHOP009,676,High,21800,118,36505,161,72570,161,35960,...,85750,265,45455,240,36725,142,65885,178,41095,150
2,SHOP083,676,Low,19250,91,34500,122,19610,96,58430,...,57245,213,30480,160,22500,107,28530,129,37270,143
3,SHOP117,676,Low,39935,143,37805,149,45125,186,42605,...,77040,219,81700,241,82170,218,73220,172,62090,181
4,SHOP042,676,Low,23390,109,25310,113,28135,135,17795,...,69185,203,30980,137,19525,105,16610,76,25480,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,18840,76,10220,55,25820,106,27755,...,27455,101,20105,96,23250,80,35680,83,18130,67
120,SHOP050,411,NaN,71350,213,60575,227,28785,152,37520,...,70210,241,81755,238,44300,142,48210,157,85590,152
121,SHOP061,699,NaN,29280,112,80970,143,31820,118,14110,...,69675,200,54780,187,15000,59,30200,108,21340,81
122,SHOP056,597,NaN,52855,211,77155,258,68280,254,41345,...,106525,342,101940,308,46755,201,59905,171,72725,225
123,SHOP070,676,NaN,15565,65,27720,105,24745,112,18675,...,44850,162,46330,167,40940,141,33420,115,25420,94

In [14]:
for week in weeks:
    week_df = daily_df.loc[daily_df["transaction_week"]==week]
    store_df_weekly[str(week)]=0
    store_df_weekly[str(week)+"S"]=0
    for shop in store_df["shop_id"]:
        shop_df = week_df.loc[week_df["shop_id"]==shop]
        week_income = shop_df.income.sum()
        week_sales = shop_df.quantity_sold.sum()
        store_df_weekly[str(week)][store_df_weekly.index[store_df_weekly["shop_id"]==shop]] = week_income
        store_df_weekly[str(week)+"S"][store_df_weekly.index[store_df_weekly["shop_id"]==shop]] = week_sales
store_df_weekly

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == "__main__":
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,shop_id,shop_area_sq_ft,shop_profile,41,41S,42,42S,43,43S,44,...,46,46S,47,47S,48,48S,49,49S,50,50S
0,SHOP047,528,Moderate,41370,169,124360,508,141775,426,58220,...,79835,305,81460,322,93565,345,94915,416,35190,119
1,SHOP009,676,High,130875,440,289535,1184,170495,834,154450,...,147200,672,219070,949,268985,1175,326130,1269,143705,470
2,SHOP083,676,Low,73360,309,301740,1000,181060,670,106140,...,130900,630,178085,733,250695,823,218975,900,88300,379
3,SHOP117,676,Low,122865,478,276180,975,215310,744,155475,...,132870,657,331155,956,312085,1050,331980,1136,217480,571
4,SHOP042,676,Low,76835,357,177820,766,136305,594,108215,...,97645,528,173735,598,215180,856,199270,837,61615,292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,54880,237,146665,513,95510,352,56410,...,83790,359,155635,390,264840,584,120495,475,77060,230
120,SHOP050,411,NaN,160710,592,289470,1026,198885,666,92440,...,182555,631,243420,786,395480,1150,515305,1357,178100,451
121,SHOP061,699,NaN,142070,373,192245,733,124120,554,103440,...,134850,529,599470,753,323750,904,324990,1052,66540,248
122,SHOP056,597,NaN,198290,723,390075,1412,289310,1075,363310,...,196100,1007,321920,1184,390755,1575,505475,1743,179385,597
123,SHOP070,676,NaN,68030,282,136455,554,111370,450,101905,...,75510,380,157580,627,197225,713,282635,784,99780,350

In [15]:
store_df_weekly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   shop_id          124 non-null    object
 1   shop_area_sq_ft  124 non-null    int64
 2   shop_profile     100 non-null    object
 3   41               124 non-null    int64
 4   41S              124 non-null    int64
 5   42               124 non-null    int64
 6   42S              124 non-null    int64
 7   43               124 non-null    int64
 8   43S              124 non-null    int64
 9   44               124 non-null    int64
 10  44S              124 non-null    int64
 11  45               124 non-null    int64
 12  45S              124 non-null    int64
 13  46               124 non-null    int64
 14  46S              124 non-null    int64
 15  47               124 non-null    int64
 16  47S              124 non-null    int64
 17  48               124 non-null    int64
 18  48S              124 non-null    int64
 19  49               124 non-null    int64
 20  49S              124 non-null    int64
 21  50               124 non-null    int64
 22  50S              124 non-null    int64
dtypes: int64(21), object(2)
memory usage: 22.4+ KB

In [16]:
store_df_weekly["income"]=0
store_df_weekly["sales"]=0
for shop in store_df["shop_id"]:
    shop_df = daily_df.loc[daily_df["shop_id"]==shop]
    income = shop_df.income.sum()
    sales = shop_df.quantity_sold.sum()
    store_df_weekly["income"][store_df_weekly.index[store_df_weekly["shop_id"]==shop]] = income
    store_df_weekly["sales"][store_df_weekly.index[store_df_weekly["shop_id"]==shop]] = sales
store_df_weekly

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,shop_id,shop_area_sq_ft,shop_profile,41,41S,42,42S,43,43S,44,...,47,47S,48,48S,49,49S,50,50S,income,sales
0,SHOP047,528,Moderate,41370,169,124360,508,141775,426,58220,...,81460,322,93565,345,94915,416,35190,119,842960,3288
1,SHOP009,676,High,130875,440,289535,1184,170495,834,154450,...,219070,949,268985,1175,326130,1269,143705,470,1970870,8411
2,SHOP083,676,Low,73360,309,301740,1000,181060,670,106140,...,178085,733,250695,823,218975,900,88300,379,1691985,6644
3,SHOP117,676,Low,122865,478,276180,975,215310,744,155475,...,331155,956,312085,1050,331980,1136,217480,571,2325980,8073
4,SHOP042,676,Low,76835,357,177820,766,136305,594,108215,...,173735,598,215180,856,199270,837,61615,292,1340215,5844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,54880,237,146665,513,95510,352,56410,...,155635,390,264840,584,120495,475,77060,230,1128935,3750
120,SHOP050,411,NaN,160710,592,289470,1026,198885,666,92440,...,243420,786,395480,1150,515305,1357,178100,451,2399125,7668
121,SHOP061,699,NaN,142070,373,192245,733,124120,554,103440,...,599470,753,323750,904,324990,1052,66540,248,2110800,6053
122,SHOP056,597,NaN,198290,723,390075,1412,289310,1075,363310,...,321920,1184,390755,1575,505475,1743,179385,597,3023805,11163
123,SHOP070,676,NaN,68030,282,136455,554,111370,450,101905,...,157580,627,197225,713,282635,784,99780,350,1325070,5028

In [17]:
#X = store_df_weekly.drop(["shop_profile","shop_id"],axis = 1).head(100)
X = store_df_weekly.drop(["shop_profile","shop_id"],axis = 1).head(100)
y = store_df_weekly["shop_profile"].head(100)
#to_be_tested = store_df_weekly.drop(["shop_profile","shop_id"],axis = 1).tail(24)
to_be_tested = store_df_weekly.drop(["shop_profile","shop_id"],axis = 1).tail(24)
X

,shop_area_sq_ft,41,41S,42,42S,43,43S,44,44S,45,...,47,47S,48,48S,49,49S,50,50S,income,sales
0,528,41370,169,124360,508,141775,426,58220,304,92270,...,81460,322,93565,345,94915,416,35190,119,842960,3288
1,676,130875,440,289535,1184,170495,834,154450,756,120425,...,219070,949,268985,1175,326130,1269,143705,470,1970870,8411
2,676,73360,309,301740,1000,181060,670,106140,538,162730,...,178085,733,250695,823,218975,900,88300,379,1691985,6644
3,676,122865,478,276180,975,215310,744,155475,710,230580,...,331155,956,312085,1050,331980,1136,217480,571,2325980,8073
4,676,76835,357,177820,766,136305,594,108215,479,93595,...,173735,598,215180,856,199270,837,61615,292,1340215,5844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,606,134665,539,364160,1178,207340,889,196785,821,173215,...,302605,1017,685185,1194,331175,1243,320775,485,2967190,9092
96,336,38960,191,85375,454,106935,302,80910,341,80115,...,89645,470,223055,707,154965,661,222250,310,1169405,4165
97,705,237740,435,466500,642,116050,499,115305,459,173670,...,108760,483,156405,643,153845,744,86685,247,1726515,5137
98,516,142340,501,157460,768,108505,534,111215,589,94085,...,182735,724,236315,818,284055,982,126060,432,1571700,6401
99,691,160775,527,337715,1384,199840,900,251210,816,199205,...,351285,1099,276525,1041,386305,1425,134175,483,2465930,9265

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib 
from sklearn import tree

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.45

In [20]:
# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7

In [22]:
rf = RandomForestClassifier()
rf.fit(X, y)

result = rf.predict(to_be_tested)
result

array(['Low', 'Moderate', 'Moderate', 'Moderate', 'Moderate', 'Moderate',
       'Low', 'Low', 'High', 'Low', 'Low', 'Low', 'Low', 'High', 'Low',
       'Low', 'Low', 'High', 'Moderate', 'Moderate', 'Low', 'Low', 'High',
       'Low'], dtype=object)

In [23]:
testing_data = pd.read_csv("/kaggle/input/data-storm-4/Testing-data.csv")
testing_data["shop_profile"] = result
testing_data.to_csv("day04_result05.csv")
testing_data

    shop_id shop_profile
0   SHOP046          Low
1   SHOP024     Moderate
2   SHOP023     Moderate
3   SHOP097     Moderate
4   SHOP044     Moderate
5   SHOP030     Moderate
6   SHOP038          Low
7   SHOP029          Low
8   SHOP096         High
9   SHOP092          Low
10  SHOP081          Low
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107          Low
15  SHOP108          Low
16  SHOP019          Low
17  SHOP002         High
18  SHOP114     Moderate
19  SHOP087     Moderate
20  SHOP050          Low
21  SHOP061          Low
22  SHOP056         High
23  SHOP070          Low

In [24]:
X1 = store_df_weekly.drop(["shop_profile","shop_id","41","50","41S","50S"],axis = 1).head(100)
y1 = store_df_weekly["shop_profile"].head(100)
to_be_tested1 = store_df_weekly.drop(["shop_profile","shop_id","41","50","41S","50S"],axis = 1).tail(24)

rf = RandomForestClassifier()
rf.fit(X1, y1)

result = rf.predict(to_be_tested1)
result

testing_data = pd.read_csv("/kaggle/input/data-storm-4/Testing-data.csv")
testing_data["shop_profile"] = result
testing_data.to_csv("day04_result01.csv")
testing_data

    shop_id shop_profile
0   SHOP046          Low
1   SHOP024     Moderate
2   SHOP023     Moderate
3   SHOP097     Moderate
4   SHOP044     Moderate
5   SHOP030     Moderate
6   SHOP038          Low
7   SHOP029     Moderate
8   SHOP096         High
9   SHOP092          Low
10  SHOP081          Low
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107     Moderate
15  SHOP108          Low
16  SHOP019          Low
17  SHOP002         High
18  SHOP114     Moderate
19  SHOP087     Moderate
20  SHOP050          Low
21  SHOP061          Low
22  SHOP056         High
23  SHOP070          Low

In [25]:
X2 = store_df_weekly.drop(["shop_profile","shop_id","41S","42S","43S","44S","45S","46S","47S","48S","49S","50S"],axis = 1).head(100)
y2 = store_df_weekly["shop_profile"].head(100)
to_be_tested2 = store_df_weekly.drop(["shop_profile","shop_id","41S","42S","43S","44S","45S","46S","47S","48S","49S","50S"],axis = 1).tail(24)

rf = RandomForestClassifier()
rf.fit(X2, y2)

result = rf.predict(to_be_tested2)
result

testing_data = pd.read_csv("/kaggle/input/data-storm-4/Testing-data.csv")
testing_data["shop_profile"] = result
testing_data.to_csv("day04_result02.csv")
testing_data

    shop_id shop_profile
0   SHOP046          Low
1   SHOP024     Moderate
2   SHOP023     Moderate
3   SHOP097     Moderate
4   SHOP044          Low
5   SHOP030     Moderate
6   SHOP038          Low
7   SHOP029          Low
8   SHOP096         High
9   SHOP092          Low
10  SHOP081          Low
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107     Moderate
15  SHOP108          Low
16  SHOP019          Low
17  SHOP002         High
18  SHOP114     Moderate
19  SHOP087     Moderate
20  SHOP050     Moderate
21  SHOP061     Moderate
22  SHOP056         High
23  SHOP070          Low

In [26]:
X3 = store_df_weekly.drop(["shop_profile","shop_id","41","42","43","44","45","46","47","48","49","50"],axis = 1).head(100)
y3 = store_df_weekly["shop_profile"].head(100)
to_be_tested3 = store_df_weekly.drop(["shop_profile","shop_id","41","42","43","44","45","46","47","48","49","50"],axis = 1).tail(24)

rf = RandomForestClassifier()
rf.fit(X3, y3)

result = rf.predict(to_be_tested3)
result

testing_data = pd.read_csv("/kaggle/input/data-storm-4/Testing-data.csv")
testing_data["shop_profile"] = result
testing_data.to_csv("day04_result03.csv")
testing_data

    shop_id shop_profile
0   SHOP046          Low
1   SHOP024     Moderate
2   SHOP023     Moderate
3   SHOP097         High
4   SHOP044     Moderate
5   SHOP030     Moderate
6   SHOP038          Low
7   SHOP029          Low
8   SHOP096         High
9   SHOP092          Low
10  SHOP081         High
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107     Moderate
15  SHOP108     Moderate
16  SHOP019          Low
17  SHOP002         High
18  SHOP114     Moderate
19  SHOP087     Moderate
20  SHOP050          Low
21  SHOP061          Low
22  SHOP056         High
23  SHOP070          Low